#wraper {
	border-color: black;
	border-width: 1px;
	border-style: solid;
	width:560px;
	height: 560px;
	margin: 40px auto;
	display: block;
	text-align: center;
	
}

.box{
	border: thin solid red;
	background-color: white; 
	display: inline-block;
	box-sizing: border-box;
	float: left;
	padding: 0;
	margin: 0;

}

button {
	margin: 10px auto;

	display: block;
}

